@using Indigo.Core.Models;
@model Post
<div class="container">
    <div class="row">
        <div class="col-12">
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input asp-for="Name" class="form-control" id="exampleInputEmail1" placeholder="Enter Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Description</label>
                    <input asp-for="Description" class="form-control" id="exampleInputEmail1" placeholder="Enter Description">
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">ImageFile</label>
                    <input asp-for="ImageFile" class="form-control" id="exampleInputEmail1">
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>


        </div>
    </div>
</div>